<div class="info-page col-md-8">
    <h1 class="mt-5 mb-3">Philosophy</h1>
    <p>We imagine Wood Fired Oven Pizza should be served anywhere, 
    in those small bar/café which cannot have the room for the cooking equipment, to your local Deli, 
    in a fine-dining gourmet restaurant, in the local hotel while patrons are having 
    their drinks after work, or simply at your own place with your beloved ones!
      <br>Just top it with your favourite ingredients straight from frozen and re-heat for as 
      less as 5 mins(circa) at 180/200°.</p>
    <h1 class="mt-5 mb-3">Da Salva for Business:</h1>
    <p>Ever wondered to start selling pizza into your shop? Or you are just too busy to learn how to make pizza? 
    Are you a deli or café owner who wants to sell something innovative?<br>
    Here is that Da Salva is made for!
    Our aim is to help you shop serving pizza in the easiest way. <br>No need to hire pizza chef, No need to buy new equipment. 
    Increase your food options for your beloved customers, while keeping your employee's costs low.
    <br>All you need is any kind of oven reaching 200degree and some creativity to top the 'Da Base' which does not restrict you in any way
    on how to serve it! <br>Otherwise you can pick either our 'Margherita' or the Spicy 'Diavola' both ready to eat!
    </p>
    <h1 class="mt-5 mb-3">Da Salva for Home:</h1>
    <p>For your home celebrations with the family, or you just came back from work but too tired to cook? <br>Maybe you have that Da Salva pizza in the freezer
    that can satisfy your hunger.<br>
    Our goal is to give you the same artisanal experience of an hand-made pizza served in the best pizzeria in your area!
    This goal was achieved through the innovative cryogenesis system thanks to which a freshly baked and still steaming pizza undergoes 
    a blast chilling process in just a few minutes that takes it from a temperature of 90 ° C to -20 ° C.<br>
    This is how we bring to your home, unaltered, all the fragrance, aromas and unmistakable flavor of the True Neapolitan Pizza 
    just out of the oven.
    <br>
    You can buy your favorite flavors online and always have our pizzas close at hand in the freezer, 
    to be awakened in the oven for about 5 minutes and enjoyed whenever you want comfortably at home!
    </p>

    <h1 class="mt-5 mb-3">Shipping and Delivery</h1>
    <p>We aim to deliver the product in 2 to 5 days around Sydney Region. <br>
    Other areas will be reached in 7 to 14 days depending on the order placing date. 
    <br>If you live out of Sydney We would reccomend to get in touch before to send 
    the order through to find the best solution<br>
    We will communicate the delivery date/time within 24hr once the order is confirmed<br>
    Shipping is FREE for order over 50$ and which are delivered to Sydney city and surrounding<br>
    Otherwise 15$ fee will be apllied.</p>
    <h1 class="mt-5 mb-3">Storage &amp; Cooking Instructions</h1>
    <p>Product can be stored for as long as 3 months if kept frozen, 
    otherwise for up to 5 days or the expiry date shown on the package<br>
    To cook the pizza you simply need to pre-heat you oven at 180/200 degree then place your
    pizza into the oven and cook for 5min circa or until crust become soft<br>
    We suggest to cook the pizza from frozen</p>
</div>
