<footer class="page-footer row">
    <span class="col-6 justify-content-start">
      Da Salva © 2020
    </span>
    <ul class="col-6 nav justify-content-end">
        <li class="nav-item ul-social">
            <a class="" href="https://www.facebook.com/dasalva2020/"><fa-icon [icon]="faFacebook" size="lg" [styles]="{'color': '#312b2bb0'}"></fa-icon><!-- <i class="fab fa-facebook"></i> --></a>
        </li>
        <li class="nav-item ul-social">
            <a class="" href="https://www.instagram.com/pizza_dasalva/"><fa-icon [icon]="faInstagram" size="lg" [styles]="{'color': '#312b2bb0'}"></fa-icon><!-- <i class="fab fa-instagram"></i> --></a>
        </li>
        <li class="nav-item ul-social">
            <a class="" href="mailto:ciao@dasalva.com.au"><fa-icon [icon]="faAt" size="lg" [styles]="{'color': '#312b2bb0'}"></fa-icon><!-- <i class="fas fa-at"></i> --></a>
        </li>
    </ul>
</footer>