<div class="hero-content row m-auto">
    <div class="col-md-9 col-12 clearfix">
      <div class="float-start hero-img-logo"></div>  
      <p class="text-center">
        
        <em>
          Da Salva follow the specific rules to make the authentic Neapolitan pizza. 
          The dough is made with the simplest ingredients and cooked directly on the Sorrento surface of our 
          traditional Neapolitan pizza oven wood-fired with the great Australian firewood.
          <br><br>“Real Neapolitan pizza is soft, juicy and pliable, not soggy.”
          <br><br>Our "Forno Napoletano" (which is used from famous 50 Kaló in Naples/London) was shipped to Australia 
          to bake in 45 to 90 seconds at 450 degrees our hand stretched dough.
        </em>
      </p>
    </div>
    
    <!-- <div class="col-6 col-md-3 hero-img animate__animated animate__zoomInLeft">
        <div class="hero-img-inner"></div>
    </div> -->
  </div>
