.hero-content {
    margin-top: 4rem !important;
}

.hero-content p {
    padding-top: 1rem;
}
 
.hero-img-logo {
    background-image: url(/assets/image/logo.png);
    height: 20vmax;
    background-repeat: no-repeat;
    background-size: contain;
    width: 28vmax;
}