.button-container{
    display: flex;
    justify-content: space-between;
    li{
        width: 50%;
        display: flex;
        justify-content: center;
    }
}
.shipping-form{
    margin: auto;
}