<section class="about-section">
    <div class="about-content">
      <div class="about-header h2 mb-5">
        About Us
      </div>
      <article class="about-section-inside container">
        <p>
          Da Salva is a Sydney based project to brings the Authentic Pizza Napoletana to businesses and homes. 
          Da Salva's Pizza are approx 9" and prepared in the Traditional way and cooked 
          with Imported Italian Wood Fired Oven. The pizzas are processed 
          just after the cooking, freezing the product to keep 
          all the nutritional values, aromas and fluffy softness until re-heated.
          Our testing with Qualified Chefs mixed with High Health and Safety Standards 
          took us a result where the pizza will taste like just came out of a Wood Fired Oven.
          The dough is prepared with Italian flour, the High Hydration followed 
          to a long Raising makes the Da Salva's pizza light and so easily digestible. Every Da Salva's pizza 
          is stretched by hand and rich in flavours with a hint of San Marzano's Tomato Sauce.
          <br><br><br><a routerLink='/info'>More...</a>
        </p>
      </article>
    </div>
  </section>