.new-cart-action {
    text-align: end;
  }
  
  .new-cart-list-container li {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 00.1rem #c0c0c0 solid;
  }
  
  .new-cart-list-container img {
    width: 10vmax;
    height: 10vmax;
  }
  
  .new-cart-select {
    max-width: fit-content;
  }
  
  .new-cart-price h4 {
    padding: 1rem 0;
    padding-left: 0.5rem;
  }